
# Classification

In [11]:
import pandas as pd
import numpy as np
import imblearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report

In [12]:
df=pd.DataFrame()
df=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/fiiiiiinallll.csv")
df

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,3.0,2017.0,8.0,25.0,1000.0,0.0,1015.0,11292.0,11057.0,1500.0,...,1018.0,0.0,43.0,9.0,62.0,63.0,49.0,2017-08-25,CLT,DEN
1,3.0,2017.0,8.0,25.0,1600.0,0.0,1615.0,11618.0,13204.0,1800.0,...,1016.0,93.0,67.0,14.0,88.0,87.0,51.0,2017-08-25,MCO,EWR
2,3.0,2017.0,8.0,25.0,1900.0,0.0,1944.0,14771.0,12889.0,2100.0,...,1012.0,70.0,54.0,12.0,63.0,62.0,78.0,2017-08-25,LAS,SFO
3,3.0,2017.0,8.0,25.0,1600.0,0.0,1625.0,11298.0,14771.0,1700.0,...,1015.0,56.0,67.0,11.0,89.0,90.0,34.0,2017-08-25,SFO,DFW
4,3.0,2017.0,8.0,25.0,1100.0,1.0,1040.0,14771.0,10397.0,1900.0,...,1014.0,73.0,55.0,8.0,62.0,62.0,79.0,2017-08-25,ATL,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876013,2.0,2016.0,5.0,20.0,1100.0,0.0,1130.0,14747.0,11292.0,1500.0,...,1010.0,20.0,44.0,6.0,58.0,58.0,60.0,2016-05-20,DEN,SEA
1876014,2.0,2016.0,5.0,20.0,1300.0,0.0,1350.0,10397.0,14107.0,1400.0,...,1019.0,100.0,62.0,13.0,66.0,66.0,88.0,2016-05-20,PHX,ATL
1876015,2.0,2016.0,5.0,20.0,1500.0,0.0,1550.0,14107.0,10397.0,2200.0,...,1006.0,0.0,35.0,15.0,95.0,94.0,13.0,2016-05-20,ATL,PHX
1876016,2.0,2016.0,5.0,20.0,1700.0,0.0,1734.0,11292.0,12266.0,2000.0,...,1004.0,100.0,51.0,9.0,72.0,72.0,50.0,2016-05-20,IAH,DEN
1876017,2.0,2016.0,5.0,20.0,2100.0,0.0,2155.0,12266.0,12889.0,2300.0,...,1014.0,8.0,69.0,6.0,73.0,74.0,89.0,2016-05-20,LAS,IAH

In [13]:
labels = np.asarray(df["ArrDel15"])
df_select = df.drop(["Quarter", "Year","ArrTime", "DepTime", "Month", "DayofMonth", "ArrDelayMinutes","ArrDel15","DepDel15", "Date", "Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
intenc = lenc.fit_transform(df_select["DestAirportID"])
df_select["DestAirportID"] = intenc
intenc = lenc.fit_transform(df_select["OriginAirportID"])
df_select["OriginAirportID"] = intenc
features = np.asarray(df_select)

In [14]:
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size=0.30, random_state=42)

In [15]:
t=pd.DataFrame()
t=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/test.csv")
t

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,2.0,2017.0,6.0,15.0,2300.0,1.0,1829.0,10397.0,11298.0,0.0,...,1012.0,100.0,72.0,10.0,78.0,78.0,82.0,2017-06-15,DFW,ATL
1,3.0,2016.0,9.0,10.0,600.0,0.0,700.0,13930.0,14771.0,900.0,...,1010.0,100.0,64.0,11.0,68.0,67.0,90.0,2016-09-10,SFO,ORD
2,3.0,2016.0,8.0,5.0,1000.0,0.0,1010.0,12266.0,13930.0,1200.0,...,1015.0,33.0,76.0,2.0,87.0,88.0,69.0,2016-08-05,ORD,IAH
3,4.0,2016.0,12.0,15.0,700.0,0.0,715.0,12266.0,13930.0,900.0,...,1026.0,61.0,43.0,14.0,52.0,47.0,75.0,2016-12-15,ORD,IAH
4,3.0,2017.0,7.0,12.0,1000.0,0.0,1020.0,11618.0,14107.0,1200.0,...,1020.0,6.0,65.0,9.0,78.0,77.0,70.0,2017-07-12,PHX,EWR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375199,3.0,2017.0,7.0,8.0,1600.0,0.0,1700.0,12892.0,12266.0,2200.0,...,1015.0,62.0,65.0,10.0,74.0,71.0,81.0,2017-07-08,IAH,LAX
375200,1.0,2016.0,3.0,7.0,1500.0,0.0,1505.0,14747.0,14771.0,1700.0,...,1010.0,100.0,42.0,14.0,49.0,43.0,79.0,2016-03-07,SFO,SEA
375201,4.0,2017.0,10.0,25.0,400.0,0.0,500.0,14107.0,12266.0,900.0,...,1016.0,0.0,54.0,5.0,74.0,75.0,49.0,2017-10-25,IAH,PHX
375202,3.0,2017.0,8.0,21.0,2000.0,0.0,2033.0,11298.0,10397.0,2300.0,...,1015.0,44.0,66.0,9.0,77.0,78.0,57.0,2017-08-21,ATL,DFW
375203,4.0,2017.0,12.0,8.0,2000.0,0.0,2035.0,13930.0,12889.0,2200.0,...,1029.0,97.0,18.0,22.0,19.0,11.0,83.0,2017-12-08,LAS,ORD

In [16]:
label_test = np.asarray(t["ArrDel15"])
df_select = t.drop(["Quarter", "Year","ArrTime", "DepTime", "Month", "DayofMonth", "ArrDelayMinutes","ArrDel15","DepDel15", "Date", "Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
intenc = lenc.fit_transform(df_select["DestAirportID"])
df_select["DestAirportID"] = intenc
intenc = lenc.fit_transform(df_select["OriginAirportID"])
df_select["OriginAirportID"] = intenc
feature_test = np.asarray(df_select)

# Decision Tree Classifier

In [30]:
from sklearn import tree
classifier = tree.DecisionTreeClassifier()
classifier = classifier.fit(features_train,labels_train.astype(np.uint8))

In [31]:
x_pred = classifier.predict(feature_test)

In [32]:
print(classification_report(label_test.astype(np.uint8),x_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97    297694
           1       0.90      0.91      0.90     77510

    accuracy                           0.96    375204
   macro avg       0.94      0.94      0.94    375204
weighted avg       0.96      0.96      0.96    375204

# XGBoost Classifier

In [33]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(features_train, labels_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [34]:
y_pred = classifier.predict(feature_test)

In [35]:
print(classification_report(label_test.astype(np.uint8),y_pred.astype(np.uint8)))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95    297694
           1       0.90      0.69      0.78     77510

    accuracy                           0.92    375204
   macro avg       0.91      0.84      0.87    375204
weighted avg       0.92      0.92      0.92    375204

# Random forest Classifier

In [36]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(features_train, labels_train.astype(np.uint8))

RandomForestClassifier()

In [37]:
z_pred = classifier.predict(features_test)

In [38]:
print(classification_report(labels_test.astype(np.uint8),z_pred))

              precision    recall  f1-score   support

           0       0.92      0.97      0.95    446887
           1       0.86      0.69      0.77    115919

    accuracy                           0.91    562806
   macro avg       0.89      0.83      0.86    562806
weighted avg       0.91      0.91      0.91    562806

In [ ]:
# As DecisionTreeClassifier provides the best score we use it to predict the delay and insert a new column

In [39]:
#xg_pred = classifier.predict(features)
import pandas as pd
df2=pd.DataFrame(x_pred,columns = ["dtc_pred"])
df2.to_csv('Decision_pred.csv',index=False)

In [40]:
t.insert(0, "dtc_pred",x_pred)
t

,dtc_pred,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,1,2.0,2017.0,6.0,15.0,2300.0,1.0,1829.0,10397.0,11298.0,...,1012.0,100.0,72.0,10.0,78.0,78.0,82.0,2017-06-15,DFW,ATL
1,0,3.0,2016.0,9.0,10.0,600.0,0.0,700.0,13930.0,14771.0,...,1010.0,100.0,64.0,11.0,68.0,67.0,90.0,2016-09-10,SFO,ORD
2,0,3.0,2016.0,8.0,5.0,1000.0,0.0,1010.0,12266.0,13930.0,...,1015.0,33.0,76.0,2.0,87.0,88.0,69.0,2016-08-05,ORD,IAH
3,0,4.0,2016.0,12.0,15.0,700.0,0.0,715.0,12266.0,13930.0,...,1026.0,61.0,43.0,14.0,52.0,47.0,75.0,2016-12-15,ORD,IAH
4,0,3.0,2017.0,7.0,12.0,1000.0,0.0,1020.0,11618.0,14107.0,...,1020.0,6.0,65.0,9.0,78.0,77.0,70.0,2017-07-12,PHX,EWR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375199,0,3.0,2017.0,7.0,8.0,1600.0,0.0,1700.0,12892.0,12266.0,...,1015.0,62.0,65.0,10.0,74.0,71.0,81.0,2017-07-08,IAH,LAX
375200,0,1.0,2016.0,3.0,7.0,1500.0,0.0,1505.0,14747.0,14771.0,...,1010.0,100.0,42.0,14.0,49.0,43.0,79.0,2016-03-07,SFO,SEA
375201,0,4.0,2017.0,10.0,25.0,400.0,0.0,500.0,14107.0,12266.0,...,1016.0,0.0,54.0,5.0,74.0,75.0,49.0,2017-10-25,IAH,PHX
375202,0,3.0,2017.0,8.0,21.0,2000.0,0.0,2033.0,11298.0,10397.0,...,1015.0,44.0,66.0,9.0,77.0,78.0,57.0,2017-08-21,ATL,DFW
375203,0,4.0,2017.0,12.0,8.0,2000.0,0.0,2035.0,13930.0,12889.0,...,1029.0,97.0,18.0,22.0,19.0,11.0,83.0,2017-12-08,LAS,ORD

In [41]:
t.to_csv('dtc_classifi.csv',index=False)

In [42]:
d=pd.DataFrame()
d=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/dtc_classifi.csv")
d

,dtc_pred,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,1,2.0,2017.0,6.0,15.0,2300.0,1.0,1829.0,10397.0,11298.0,...,1012.0,100.0,72.0,10.0,78.0,78.0,82.0,2017-06-15,DFW,ATL
1,0,3.0,2016.0,9.0,10.0,600.0,0.0,700.0,13930.0,14771.0,...,1010.0,100.0,64.0,11.0,68.0,67.0,90.0,2016-09-10,SFO,ORD
2,0,3.0,2016.0,8.0,5.0,1000.0,0.0,1010.0,12266.0,13930.0,...,1015.0,33.0,76.0,2.0,87.0,88.0,69.0,2016-08-05,ORD,IAH
3,0,4.0,2016.0,12.0,15.0,700.0,0.0,715.0,12266.0,13930.0,...,1026.0,61.0,43.0,14.0,52.0,47.0,75.0,2016-12-15,ORD,IAH
4,0,3.0,2017.0,7.0,12.0,1000.0,0.0,1020.0,11618.0,14107.0,...,1020.0,6.0,65.0,9.0,78.0,77.0,70.0,2017-07-12,PHX,EWR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375199,0,3.0,2017.0,7.0,8.0,1600.0,0.0,1700.0,12892.0,12266.0,...,1015.0,62.0,65.0,10.0,74.0,71.0,81.0,2017-07-08,IAH,LAX
375200,0,1.0,2016.0,3.0,7.0,1500.0,0.0,1505.0,14747.0,14771.0,...,1010.0,100.0,42.0,14.0,49.0,43.0,79.0,2016-03-07,SFO,SEA
375201,0,4.0,2017.0,10.0,25.0,400.0,0.0,500.0,14107.0,12266.0,...,1016.0,0.0,54.0,5.0,74.0,75.0,49.0,2017-10-25,IAH,PHX
375202,0,3.0,2017.0,8.0,21.0,2000.0,0.0,2033.0,11298.0,10397.0,...,1015.0,44.0,66.0,9.0,77.0,78.0,57.0,2017-08-21,ATL,DFW
375203,0,4.0,2017.0,12.0,8.0,2000.0,0.0,2035.0,13930.0,12889.0,...,1029.0,97.0,18.0,22.0,19.0,11.0,83.0,2017-12-08,LAS,ORD

In [45]:
select = d.loc[d['dtc_pred'] == 1]

In [46]:
select.to_csv("/Users/msml/Vamsi/SF/SF_Projects/dtc_delay.csv",index=False)