# Regression

In [8]:
import pandas as pd
import numpy as np
import imblearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_error

In [9]:
df=pd.DataFrame()
df=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/FINAL.csv")
df

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,3.0,2017.0,8.0,25.0,1000.0,0.0,1015.0,11292.0,11057.0,1500.0,...,1018.0,0.0,43.0,9.0,62.0,63.0,49.0,2017-08-25,CLT,DEN
1,3.0,2017.0,8.0,25.0,1600.0,0.0,1615.0,11618.0,13204.0,1800.0,...,1016.0,93.0,67.0,14.0,88.0,87.0,51.0,2017-08-25,MCO,EWR
2,3.0,2017.0,8.0,25.0,1900.0,0.0,1944.0,14771.0,12889.0,2100.0,...,1012.0,70.0,54.0,12.0,63.0,62.0,78.0,2017-08-25,LAS,SFO
3,3.0,2017.0,8.0,25.0,1600.0,0.0,1625.0,11298.0,14771.0,1700.0,...,1015.0,56.0,67.0,11.0,89.0,90.0,34.0,2017-08-25,SFO,DFW
4,3.0,2017.0,8.0,25.0,1100.0,1.0,1040.0,14771.0,10397.0,1900.0,...,1014.0,73.0,55.0,8.0,62.0,62.0,79.0,2017-08-25,ATL,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850155,2.0,2016.0,5.0,20.0,1100.0,0.0,1130.0,14747.0,11292.0,1500.0,...,1010.0,20.0,44.0,6.0,58.0,58.0,60.0,2016-05-20,DEN,SEA
1850156,2.0,2016.0,5.0,20.0,1300.0,0.0,1350.0,10397.0,14107.0,1400.0,...,1019.0,100.0,62.0,13.0,66.0,66.0,88.0,2016-05-20,PHX,ATL
1850157,2.0,2016.0,5.0,20.0,1500.0,0.0,1550.0,14107.0,10397.0,2200.0,...,1006.0,0.0,35.0,15.0,95.0,94.0,13.0,2016-05-20,ATL,PHX
1850158,2.0,2016.0,5.0,20.0,1700.0,0.0,1734.0,11292.0,12266.0,2000.0,...,1004.0,100.0,51.0,9.0,72.0,72.0,50.0,2016-05-20,IAH,DEN
1850159,2.0,2016.0,5.0,20.0,2100.0,0.0,2155.0,12266.0,12889.0,2300.0,...,1014.0,8.0,69.0,6.0,73.0,74.0,89.0,2016-05-20,LAS,IAH

In [10]:
train, test = train_test_split(df, test_size=0.2, random_state=32)

In [4]:
train.to_csv("train.csv",index=False)
test.to_csv("test.csv",index=False)

In [11]:
#taking delay data to train the model
delay_train = train.loc[train["ArrDel15"] == 1]
delay_test = test.loc[test["ArrDel15"] == 1]

In [12]:
dt=pd.DataFrame(delay_train)
dt

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
1176484,4.0,2016.0,10.0,21.0,600.0,0.0,700.0,10397.0,14747.0,900.0,...,1013.0,88.0,54.0,22.0,62.0,61.0,75.0,2016-10-21,SEA,ATL
551603,3.0,2017.0,7.0,18.0,2100.0,1.0,700.0,14747.0,13930.0,300.0,...,1015.0,27.0,56.0,11.0,67.0,67.0,61.0,2017-07-18,ORD,SEA
432477,2.0,2017.0,4.0,13.0,0.0,1.0,1615.0,11298.0,12892.0,100.0,...,1020.0,97.0,51.0,13.0,60.0,61.0,64.0,2017-04-13,LAX,DFW
1358812,1.0,2016.0,1.0,2.0,2100.0,1.0,2130.0,11292.0,12889.0,2200.0,...,1032.0,56.0,13.0,13.0,20.0,12.0,72.0,2016-01-02,LAS,DEN
252415,1.0,2017.0,3.0,15.0,1300.0,1.0,1255.0,14771.0,13204.0,2100.0,...,1025.0,7.0,50.0,6.0,61.0,59.0,71.0,2017-03-15,MCO,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340184,1.0,2016.0,1.0,2.0,2100.0,1.0,2100.0,14771.0,14107.0,0.0,...,1015.0,93.0,42.0,15.0,50.0,46.0,73.0,2016-01-02,PHX,SFO
1554897,3.0,2016.0,7.0,22.0,800.0,1.0,800.0,14107.0,14747.0,1200.0,...,1011.0,58.0,57.0,6.0,93.0,92.0,29.0,2016-07-22,SEA,PHX
1684453,2.0,2016.0,6.0,17.0,1800.0,1.0,1726.0,10397.0,13930.0,1900.0,...,1008.0,70.0,69.0,14.0,93.0,92.0,50.0,2016-06-17,ORD,ATL
599350,3.0,2017.0,7.0,11.0,2000.0,1.0,1935.0,13930.0,11618.0,2300.0,...,1011.0,2.0,73.0,18.0,86.0,86.0,66.0,2017-07-11,EWR,ORD
655237,2.0,2017.0,6.0,17.0,2000.0,1.0,1829.0,10397.0,11298.0,2100.0,...,1009.0,31.0,64.0,12.0,89.0,89.0,50.0,2017-06-17,DFW,ATL

In [13]:
labels_train= np.asarray(dt["ArrDelayMinutes"])
dt_select = dt.drop(["ArrDelayMinutes","Quarter", "Year","ArrTime", "DepTime", "Month", "DayofMonth", "DepDel15", "Date","Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
onec = OneHotEncoder()
dt_select["DestAirportID"] = lenc.fit_transform(dt_select["DestAirportID"])
dt_select["OriginAirportID"] = lenc.fit_transform(dt_select["OriginAirportID"])
features_train = np.asarray(dt_select)

In [14]:
d_test=pd.DataFrame()
d_test=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/test.csv")
d_test

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,2.0,2017.0,6.0,26.0,700.0,0.0,730.0,11618.0,14771.0,1000.0,...,1024.0,7.0,55.0,3.0,69.0,70.0,64.0,2017-06-26,SFO,EWR
1,2.0,2016.0,4.0,25.0,2200.0,0.0,2213.0,12892.0,12478.0,600.0,...,1012.0,0.0,41.0,18.0,61.0,61.0,50.0,2016-04-25,JFK,LAX
2,2.0,2017.0,5.0,10.0,2000.0,0.0,2015.0,12478.0,14771.0,0.0,...,1021.0,97.0,49.0,9.0,55.0,53.0,83.0,2017-05-10,SFO,JFK
3,2.0,2016.0,4.0,29.0,1100.0,0.0,1120.0,12892.0,14107.0,1200.0,...,1016.0,70.0,54.0,8.0,64.0,60.0,79.0,2016-04-29,PHX,LAX
4,4.0,2016.0,10.0,22.0,1500.0,0.0,1545.0,14771.0,14107.0,1800.0,...,1013.0,100.0,52.0,10.0,61.0,61.0,75.0,2016-10-22,PHX,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370027,1.0,2017.0,1.0,30.0,1400.0,0.0,1445.0,11292.0,14747.0,1600.0,...,998.0,100.0,30.0,11.0,53.0,54.0,96.0,2017-01-30,SEA,DEN
370028,2.0,2017.0,4.0,1.0,1500.0,0.0,1550.0,14747.0,12892.0,1800.0,...,1020.0,0.0,49.0,3.0,66.0,67.0,52.0,2017-04-01,LAX,SEA
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO
370031,3.0,2016.0,9.0,3.0,0.0,0.0,20.0,14747.0,13930.0,500.0,...,1018.0,100.0,52.0,9.0,56.0,54.0,87.0,2016-09-03,ORD,SEA

In [15]:
dr=pd.DataFrame(d_test)
dr

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,2.0,2017.0,6.0,26.0,700.0,0.0,730.0,11618.0,14771.0,1000.0,...,1024.0,7.0,55.0,3.0,69.0,70.0,64.0,2017-06-26,SFO,EWR
1,2.0,2016.0,4.0,25.0,2200.0,0.0,2213.0,12892.0,12478.0,600.0,...,1012.0,0.0,41.0,18.0,61.0,61.0,50.0,2016-04-25,JFK,LAX
2,2.0,2017.0,5.0,10.0,2000.0,0.0,2015.0,12478.0,14771.0,0.0,...,1021.0,97.0,49.0,9.0,55.0,53.0,83.0,2017-05-10,SFO,JFK
3,2.0,2016.0,4.0,29.0,1100.0,0.0,1120.0,12892.0,14107.0,1200.0,...,1016.0,70.0,54.0,8.0,64.0,60.0,79.0,2016-04-29,PHX,LAX
4,4.0,2016.0,10.0,22.0,1500.0,0.0,1545.0,14771.0,14107.0,1800.0,...,1013.0,100.0,52.0,10.0,61.0,61.0,75.0,2016-10-22,PHX,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370027,1.0,2017.0,1.0,30.0,1400.0,0.0,1445.0,11292.0,14747.0,1600.0,...,998.0,100.0,30.0,11.0,53.0,54.0,96.0,2017-01-30,SEA,DEN
370028,2.0,2017.0,4.0,1.0,1500.0,0.0,1550.0,14747.0,12892.0,1800.0,...,1020.0,0.0,49.0,3.0,66.0,67.0,52.0,2017-04-01,LAX,SEA
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO
370031,3.0,2016.0,9.0,3.0,0.0,0.0,20.0,14747.0,13930.0,500.0,...,1018.0,100.0,52.0,9.0,56.0,54.0,87.0,2016-09-03,ORD,SEA

In [10]:
label_test = np.asarray(dr["ArrDelayMinutes"])
dr_select = dr.drop(["ArrDelayMinutes","Quarter", "Year","ArrTime", "ArrDel15","DepTime", "Month", "DayofMonth", "DepDel15","Date","Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
dt_select["DestAirportID"] = lenc.fit_transform(dt_select["DestAirportID"])
dt_select["OriginAirportID"] = lenc.fit_transform(dt_select["OriginAirportID"])
feature_test = np.asarray(dr_select)

## Gradient Boosting

In [12]:
from sklearn.ensemble import GradientBoostingRegressor
lr = GradientBoostingRegressor()
lr.fit(features_train,labels_train)

GradientBoostingRegressor()

In [13]:
pred = lr.predict(feature_test)

In [14]:
print("R2 score : %.2f" % r2_score(label_test,pred))
print("Mean squared error: %.2f" % mean_squared_error(label_test,pred))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,pred)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, pred))

R2 score : 0.64
Mean squared error: 617.35
Root mean squared error: 24.85
Mean absolute error: 23.08

## XGBoost

In [11]:
from xgboost import XGBRegressor
xg = XGBRegressor()
xg.fit(features_train,labels_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [71]:
xgr = xg.predict(feature_test)

In [72]:
print("R2 score : %.2f" % r2_score(label_test,xgr))
print("Mean squared error: %.2f" % mean_squared_error(label_test,xgr))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,xgr)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, xgr))

R2 score : 0.94
Mean squared error: 317.27
Root mean squared error: 17.81
Mean absolute error: 13.15

## Random Forest

In [73]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(features_train, labels_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [74]:
reg = regressor.predict(feature_test)

In [75]:
print("R2 score : %.2f" % r2_score(label_test,reg))
print("Mean squared error: %.2f" % mean_squared_error(label_test,reg))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,reg)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, reg))

R2 score : 0.93
Mean squared error: 356.86
Root mean squared error: 18.89
Mean absolute error: 13.93

## Decision Tree

In [76]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(features_train, labels_train)

DecisionTreeRegressor(random_state=0)

In [77]:
deg = regressor.predict(feature_test)

In [78]:
print("R2 score : %.2f" % r2_score(label_test,deg))
print("Mean squared error: %.2f" % mean_squared_error(label_test,deg))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,deg)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, deg))

R2 score : 0.85
Mean squared error: 790.23
Root mean squared error: 28.11
Mean absolute error: 19.09