# Regression

In [1]:
import pandas as pd
import numpy as np
import imblearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_error

In [2]:
df=pd.DataFrame()
df=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/FINAL.csv")
df

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,3.0,2017.0,8.0,25.0,1000.0,0.0,1015.0,11292.0,11057.0,1500.0,...,1018.0,0.0,43.0,9.0,62.0,63.0,49.0,2017-08-25,CLT,DEN
1,3.0,2017.0,8.0,25.0,1600.0,0.0,1615.0,11618.0,13204.0,1800.0,...,1016.0,93.0,67.0,14.0,88.0,87.0,51.0,2017-08-25,MCO,EWR
2,3.0,2017.0,8.0,25.0,1900.0,0.0,1944.0,14771.0,12889.0,2100.0,...,1012.0,70.0,54.0,12.0,63.0,62.0,78.0,2017-08-25,LAS,SFO
3,3.0,2017.0,8.0,25.0,1600.0,0.0,1625.0,11298.0,14771.0,1700.0,...,1015.0,56.0,67.0,11.0,89.0,90.0,34.0,2017-08-25,SFO,DFW
4,3.0,2017.0,8.0,25.0,1100.0,1.0,1040.0,14771.0,10397.0,1900.0,...,1014.0,73.0,55.0,8.0,62.0,62.0,79.0,2017-08-25,ATL,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850155,2.0,2016.0,5.0,20.0,1100.0,0.0,1130.0,14747.0,11292.0,1500.0,...,1010.0,20.0,44.0,6.0,58.0,58.0,60.0,2016-05-20,DEN,SEA
1850156,2.0,2016.0,5.0,20.0,1300.0,0.0,1350.0,10397.0,14107.0,1400.0,...,1019.0,100.0,62.0,13.0,66.0,66.0,88.0,2016-05-20,PHX,ATL
1850157,2.0,2016.0,5.0,20.0,1500.0,0.0,1550.0,14107.0,10397.0,2200.0,...,1006.0,0.0,35.0,15.0,95.0,94.0,13.0,2016-05-20,ATL,PHX
1850158,2.0,2016.0,5.0,20.0,1700.0,0.0,1734.0,11292.0,12266.0,2000.0,...,1004.0,100.0,51.0,9.0,72.0,72.0,50.0,2016-05-20,IAH,DEN
1850159,2.0,2016.0,5.0,20.0,2100.0,0.0,2155.0,12266.0,12889.0,2300.0,...,1014.0,8.0,69.0,6.0,73.0,74.0,89.0,2016-05-20,LAS,IAH

In [39]:
#importing data from under sampling
xrun=pd.DataFrame()
#yrun=pd.DataFrame()
xrun=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/X_reg_un.csv")
#yrun=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/y_reg_un.csv")
#yrun=np.asarray(yrun["0"])

In [40]:
d=pd.DataFrame(xrun)
d

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,1532.0,8.0,7.0,1640.0,0.0,10.0,0.0,19.0,195.0,113.0,...,119.0,0.1,10.0,1013.0,65.0,65.0,10.0,73.0,72.0,82.0
1,1245.0,8.0,7.0,1402.0,0.0,12.0,1.0,10.0,155.0,113.0,...,116.0,0.0,10.0,1017.0,62.0,62.0,7.0,73.0,70.0,78.0
2,700.0,8.0,14.0,828.0,0.0,11.0,0.0,12.0,261.0,266.0,...,143.0,0.1,5.0,1012.0,76.0,65.0,3.0,68.0,67.0,94.0
3,2045.0,14.0,8.0,2210.0,0.0,14.0,0.0,9.0,223.0,113.0,...,113.0,0.0,10.0,1011.0,26.0,53.0,11.0,67.0,66.0,76.0
4,1840.0,14.0,8.0,2012.0,0.0,11.0,0.0,14.0,243.0,119.0,...,119.0,0.0,10.0,1018.0,76.0,54.0,19.0,62.0,61.0,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620415,2100.0,14.0,12.0,2356.0,1.0,41.0,51.0,18.0,80.0,116.0,...,122.0,0.0,10.0,1015.0,93.0,42.0,15.0,50.0,46.0,73.0
620416,800.0,12.0,13.0,1053.0,1.0,72.0,55.0,8.0,234.0,266.0,...,119.0,0.0,10.0,1011.0,58.0,57.0,6.0,93.0,92.0,29.0
620417,1726.0,0.0,11.0,1849.0,1.0,15.0,36.0,14.0,36.0,113.0,...,200.0,0.4,9.0,1008.0,70.0,69.0,14.0,93.0,92.0,50.0
620418,1935.0,11.0,4.0,2249.0,1.0,31.0,40.0,8.0,155.0,116.0,...,113.0,0.0,10.0,1011.0,2.0,73.0,18.0,86.0,86.0,66.0
620419,1829.0,0.0,3.0,1953.0,1.0,105.0,133.0,18.0,180.0,113.0,...,386.0,0.5,10.0,1009.0,31.0,64.0,12.0,89.0,89.0,50.0

In [44]:
del_un = d.loc[d["4"] == 1]
del_un

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
310210,700.0,0.0,13.0,920.0,1.0,17.0,0.0,9.0,171.0,122.0,...,122.0,0.0,10.0,1013.0,88.0,54.0,22.0,62.0,61.0,75.0
310211,700.0,13.0,11.0,1301.0,1.0,865.0,882.0,20.0,244.0,113.0,...,113.0,0.0,10.0,1015.0,27.0,56.0,11.0,67.0,67.0,61.0
310212,1615.0,3.0,8.0,1756.0,1.0,463.0,479.0,7.0,155.0,119.0,...,122.0,0.0,10.0,1020.0,97.0,51.0,13.0,60.0,61.0,64.0
310213,2130.0,2.0,7.0,2220.0,1.0,16.0,28.0,7.0,327.0,116.0,...,116.0,0.0,10.0,1032.0,56.0,13.0,13.0,20.0,12.0,72.0
310214,1255.0,14.0,9.0,2104.0,1.0,16.0,40.0,12.0,274.0,113.0,...,113.0,0.0,10.0,1025.0,7.0,50.0,6.0,61.0,59.0,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620415,2100.0,14.0,12.0,2356.0,1.0,41.0,51.0,18.0,80.0,116.0,...,122.0,0.0,10.0,1015.0,93.0,42.0,15.0,50.0,46.0,73.0
620416,800.0,12.0,13.0,1053.0,1.0,72.0,55.0,8.0,234.0,266.0,...,119.0,0.0,10.0,1011.0,58.0,57.0,6.0,93.0,92.0,29.0
620417,1726.0,0.0,11.0,1849.0,1.0,15.0,36.0,14.0,36.0,113.0,...,200.0,0.4,9.0,1008.0,70.0,69.0,14.0,93.0,92.0,50.0
620418,1935.0,11.0,4.0,2249.0,1.0,31.0,40.0,8.0,155.0,116.0,...,113.0,0.0,10.0,1011.0,2.0,73.0,18.0,86.0,86.0,66.0
620419,1829.0,0.0,3.0,1953.0,1.0,105.0,133.0,18.0,180.0,113.0,...,386.0,0.5,10.0,1009.0,31.0,64.0,12.0,89.0,89.0,50.0

In [46]:
#under sampling train data
labels_train_un= np.asarray(del_un["5"])
dt_select_un = del_un.drop(["5"],axis=1)
features_train_un = np.asarray(dt_select)

In [50]:
train, test = train_test_split(df, test_size=0.2, random_state=32)

In [ ]:
train.to_csv("train.csv",index=False)
test.to_csv("test.csv",index=False)

In [51]:
#taking delay data to train the model
delay_train = train.loc[train["ArrDel15"] == 1]

In [12]:
dt=pd.DataFrame(delay_train)
dt

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
1176484,4.0,2016.0,10.0,21.0,600.0,0.0,700.0,10397.0,14747.0,900.0,...,1013.0,88.0,54.0,22.0,62.0,61.0,75.0,2016-10-21,SEA,ATL
551603,3.0,2017.0,7.0,18.0,2100.0,1.0,700.0,14747.0,13930.0,300.0,...,1015.0,27.0,56.0,11.0,67.0,67.0,61.0,2017-07-18,ORD,SEA
432477,2.0,2017.0,4.0,13.0,0.0,1.0,1615.0,11298.0,12892.0,100.0,...,1020.0,97.0,51.0,13.0,60.0,61.0,64.0,2017-04-13,LAX,DFW
1358812,1.0,2016.0,1.0,2.0,2100.0,1.0,2130.0,11292.0,12889.0,2200.0,...,1032.0,56.0,13.0,13.0,20.0,12.0,72.0,2016-01-02,LAS,DEN
252415,1.0,2017.0,3.0,15.0,1300.0,1.0,1255.0,14771.0,13204.0,2100.0,...,1025.0,7.0,50.0,6.0,61.0,59.0,71.0,2017-03-15,MCO,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340184,1.0,2016.0,1.0,2.0,2100.0,1.0,2100.0,14771.0,14107.0,0.0,...,1015.0,93.0,42.0,15.0,50.0,46.0,73.0,2016-01-02,PHX,SFO
1554897,3.0,2016.0,7.0,22.0,800.0,1.0,800.0,14107.0,14747.0,1200.0,...,1011.0,58.0,57.0,6.0,93.0,92.0,29.0,2016-07-22,SEA,PHX
1684453,2.0,2016.0,6.0,17.0,1800.0,1.0,1726.0,10397.0,13930.0,1900.0,...,1008.0,70.0,69.0,14.0,93.0,92.0,50.0,2016-06-17,ORD,ATL
599350,3.0,2017.0,7.0,11.0,2000.0,1.0,1935.0,13930.0,11618.0,2300.0,...,1011.0,2.0,73.0,18.0,86.0,86.0,66.0,2017-07-11,EWR,ORD
655237,2.0,2017.0,6.0,17.0,2000.0,1.0,1829.0,10397.0,11298.0,2100.0,...,1009.0,31.0,64.0,12.0,89.0,89.0,50.0,2017-06-17,DFW,ATL

In [13]:
#without sampling
labels_train= np.asarray(dt["ArrDelayMinutes"])
dt_select = dt.drop(["ArrDelayMinutes","Quarter", "Year","ArrTime", "DepTime", "Month", "DayofMonth", "DepDel15", "Date","Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
onec = OneHotEncoder()
dt_select["DestAirportID"] = lenc.fit_transform(dt_select["DestAirportID"])
dt_select["OriginAirportID"] = lenc.fit_transform(dt_select["OriginAirportID"])
features_train = np.asarray(dt_select)

In [4]:
#importing data from over sampling
xrov=pd.DataFrame()
#yrun=pd.DataFrame()
xrov=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/X_reg_ov.csv")

In [5]:
d=pd.DataFrame(xrov)
d

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2129.000000,4.000000,10.000000,38.000000,0.0,0.000000,20.000000,12.000000,158.000000,353.000000,...,113.000000,0.000000,10.0,1012.000000,0.000000,58.000000,9.000000,79.000000,80.000000,44.000000
1,1800.000000,2.000000,3.000000,2102.000000,0.0,0.000000,0.000000,15.000000,351.000000,353.000000,...,113.000000,0.000000,10.0,1015.000000,0.000000,40.000000,13.000000,78.000000,77.000000,26.000000
2,824.000000,14.000000,10.000000,1649.000000,0.0,0.000000,17.000000,16.000000,322.000000,113.000000,...,266.000000,0.200000,4.0,1008.000000,91.000000,51.000000,8.000000,53.000000,51.000000,93.000000
3,700.000000,0.000000,13.000000,920.000000,1.0,17.000000,0.000000,9.000000,171.000000,122.000000,...,122.000000,0.000000,10.0,1013.000000,88.000000,54.000000,22.000000,62.000000,61.000000,75.000000
4,830.000000,14.000000,3.000000,1404.000000,0.0,0.000000,0.000000,6.000000,141.000000,122.000000,...,302.000000,4.400000,8.0,1010.000000,100.000000,51.000000,17.000000,54.000000,50.000000,91.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329429,2037.471760,14.000000,13.000000,2244.516944,1.0,68.730232,56.426576,9.505648,27.483056,113.000000,...,115.258472,0.075282,10.0,1012.752824,49.281064,51.247176,14.011296,60.494352,60.494352,85.258472
2329430,1834.013343,13.644804,2.078933,2212.144522,1.0,72.565871,73.670927,8.394663,263.000000,113.000000,...,113.355196,0.000000,10.0,1019.197331,46.210111,42.565871,9.960534,48.315730,45.394663,80.381883
2329431,1819.811237,12.000000,7.000000,1821.627304,1.0,53.848989,56.995170,15.627304,191.778314,125.226516,...,113.000000,0.000000,10.0,1016.221686,0.740562,47.334943,8.594382,56.853820,56.853820,57.632134
2329432,1749.063613,7.501780,12.000000,1920.879896,1.0,42.936387,59.374555,6.749110,311.441729,113.000000,...,113.000000,0.000000,10.0,1009.936387,26.819845,70.752671,14.438168,79.752671,80.752671,63.318064
2329433,1515.697622,7.000000,11.000000,2100.000000,1.0,26.558322,21.441678,16.395245,195.326153,113.523217,...,113.000000,0.165119,10.0,1009.523217,9.081538,41.220839,6.127972,83.081538,79.255944,27.139301

In [6]:
r=d.round(2)

In [7]:
del_ov = r.loc[r["4"] == 1]
del_ov

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
3,700.00,0.00,13.00,920.00,1.0,17.00,0.00,9.00,171.00,122.00,...,122.00,0.00,10.0,1013.00,88.00,54.00,22.00,62.00,61.00,75.00
7,700.00,13.00,11.00,1301.00,1.0,865.00,882.00,20.00,244.00,113.00,...,113.00,0.00,10.0,1015.00,27.00,56.00,11.00,67.00,67.00,61.00
11,1615.00,3.00,8.00,1756.00,1.0,463.00,479.00,7.00,155.00,119.00,...,122.00,0.00,10.0,1020.00,97.00,51.00,13.00,60.00,61.00,64.00
14,2130.00,2.00,7.00,2220.00,1.0,16.00,28.00,7.00,327.00,116.00,...,116.00,0.00,10.0,1032.00,56.00,13.00,13.00,20.00,12.00,72.00
18,1255.00,14.00,9.00,2104.00,1.0,16.00,40.00,12.00,274.00,113.00,...,113.00,0.00,10.0,1025.00,7.00,50.00,6.00,61.00,59.00,71.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329429,2037.47,14.00,13.00,2244.52,1.0,68.73,56.43,9.51,27.48,113.00,...,115.26,0.08,10.0,1012.75,49.28,51.25,14.01,60.49,60.49,85.26
2329430,1834.01,13.64,2.08,2212.14,1.0,72.57,73.67,8.39,263.00,113.00,...,113.36,0.00,10.0,1019.20,46.21,42.57,9.96,48.32,45.39,80.38
2329431,1819.81,12.00,7.00,1821.63,1.0,53.85,57.00,15.63,191.78,125.23,...,113.00,0.00,10.0,1016.22,0.74,47.33,8.59,56.85,56.85,57.63
2329432,1749.06,7.50,12.00,1920.88,1.0,42.94,59.37,6.75,311.44,113.00,...,113.00,0.00,10.0,1009.94,26.82,70.75,14.44,79.75,80.75,63.32
2329433,1515.70,7.00,11.00,2100.00,1.0,26.56,21.44,16.40,195.33,113.52,...,113.00,0.17,10.0,1009.52,9.08,41.22,6.13,83.08,79.26,27.14

In [8]:
#over sampling train data
labels_train_ov= np.asarray(del_ov["5"])
dt_select_ov = del_ov.drop(["5"],axis=1)
features_train_ov = np.asarray(dt_select_ov)

In [ ]:
select

In [10]:
d_test=pd.DataFrame()
d_test=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/test.csv")
d_test

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,2.0,2017.0,6.0,26.0,700.0,0.0,730.0,11618.0,14771.0,1000.0,...,1024.0,7.0,55.0,3.0,69.0,70.0,64.0,2017-06-26,SFO,EWR
1,2.0,2016.0,4.0,25.0,2200.0,0.0,2213.0,12892.0,12478.0,600.0,...,1012.0,0.0,41.0,18.0,61.0,61.0,50.0,2016-04-25,JFK,LAX
2,2.0,2017.0,5.0,10.0,2000.0,0.0,2015.0,12478.0,14771.0,0.0,...,1021.0,97.0,49.0,9.0,55.0,53.0,83.0,2017-05-10,SFO,JFK
3,2.0,2016.0,4.0,29.0,1100.0,0.0,1120.0,12892.0,14107.0,1200.0,...,1016.0,70.0,54.0,8.0,64.0,60.0,79.0,2016-04-29,PHX,LAX
4,4.0,2016.0,10.0,22.0,1500.0,0.0,1545.0,14771.0,14107.0,1800.0,...,1013.0,100.0,52.0,10.0,61.0,61.0,75.0,2016-10-22,PHX,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370027,1.0,2017.0,1.0,30.0,1400.0,0.0,1445.0,11292.0,14747.0,1600.0,...,998.0,100.0,30.0,11.0,53.0,54.0,96.0,2017-01-30,SEA,DEN
370028,2.0,2017.0,4.0,1.0,1500.0,0.0,1550.0,14747.0,12892.0,1800.0,...,1020.0,0.0,49.0,3.0,66.0,67.0,52.0,2017-04-01,LAX,SEA
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO
370031,3.0,2016.0,9.0,3.0,0.0,0.0,20.0,14747.0,13930.0,500.0,...,1018.0,100.0,52.0,9.0,56.0,54.0,87.0,2016-09-03,ORD,SEA

In [11]:
delay_test = d_test.loc[d_test["ArrDel15"] == 1]

In [12]:
dr=pd.DataFrame(delay_test)
dr

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
17,4.0,2016.0,11.0,2.0,1400.0,0.0,1455.0,13930.0,11292.0,1600.0,...,1019.0,100.0,58.0,12.0,63.0,61.0,91.0,2016-11-02,DEN,ORD
29,1.0,2016.0,1.0,10.0,1400.0,1.0,1321.0,11057.0,13303.0,1600.0,...,1009.0,75.0,39.0,18.0,51.0,45.0,65.0,2016-01-10,MIA,CLT
31,4.0,2016.0,11.0,1.0,1000.0,1.0,820.0,12892.0,12889.0,1100.0,...,1017.0,12.0,56.0,5.0,65.0,64.0,77.0,2016-11-01,LAS,LAX
42,3.0,2016.0,8.0,15.0,2000.0,1.0,1903.0,13930.0,11298.0,2200.0,...,1016.0,100.0,69.0,10.0,68.0,69.0,75.0,2016-08-15,DFW,ORD
46,2.0,2016.0,4.0,24.0,1100.0,1.0,736.0,14747.0,12266.0,1700.0,...,1019.0,99.0,40.0,11.0,51.0,47.0,67.0,2016-04-24,IAH,SEA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369998,3.0,2016.0,8.0,16.0,1500.0,1.0,1332.0,12892.0,14771.0,1600.0,...,1011.0,70.0,61.0,14.0,76.0,78.0,74.0,2016-08-16,SFO,LAX
370003,1.0,2017.0,1.0,6.0,1300.0,1.0,1250.0,11298.0,10397.0,1600.0,...,1022.0,100.0,39.0,9.0,47.0,39.0,84.0,2017-01-06,ATL,DFW
370024,3.0,2017.0,9.0,12.0,1800.0,1.0,1759.0,11292.0,13930.0,2100.0,...,1010.0,46.0,47.0,19.0,69.0,69.0,44.0,2017-09-12,ORD,DEN
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO

In [118]:
label_test_un = np.asarray(dr["ArrDelayMinutes"])
dr_select = dr.drop(["ArrDelayMinutes","Quarter", "Year","ArrTime","DepTime", "Month", "DayofMonth", "DepDel15","Date","Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
intenc = lenc.fit_transform(dr_select["DestAirportID"])
dr_select["DestAirportID"] = intenc
intenc = lenc.fit_transform(dr_select["OriginAirportID"])
dr_select["OriginAirportID"] = intenc
feature_test_un = np.asarray(dr_select)

In [13]:
label_test_ov = np.asarray(dr["ArrDelayMinutes"])
dr_select = dr.drop(["ArrDelayMinutes","Quarter", "Year","ArrTime","DepTime", "Month", "DayofMonth", "DepDel15","Date","Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
intenc = lenc.fit_transform(dr_select["DestAirportID"])
dr_select["DestAirportID"] = intenc
intenc = lenc.fit_transform(dr_select["OriginAirportID"])
dr_select["OriginAirportID"] = intenc
feature_test_ov = np.asarray(dr_select)

## Gradient Boosting

In [12]:
from sklearn.ensemble import GradientBoostingRegressor
lr = GradientBoostingRegressor()
lr.fit(features_train,labels_train)

GradientBoostingRegressor()

In [129]:
from sklearn.ensemble import GradientBoostingRegressor
lr = GradientBoostingRegressor()
lr.fit(features_train_un,labels_train_un)

GradientBoostingRegressor()

In [102]:
from sklearn.ensemble import GradientBoostingRegressor
lrov = GradientBoostingRegressor()
lrov.fit(features_train_ov,labels_train_ov)

GradientBoostingRegressor()

In [13]:
pred = lr.predict(feature_test)

In [130]:
pred_un = lr.predict(feature_test_un)

In [121]:
pred_ov = lrov.predict(feature_test_ov)

In [14]:
#without sampling
print("R2 score : %.2f" % r2_score(label_test,pred))
print("Mean squared error: %.2f" % mean_squared_error(label_test,pred))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,pred)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, pred))

R2 score : 0.64
Mean squared error: 617.35
Root mean squared error: 24.85
Mean absolute error: 23.08

In [131]:
#with under sampling
print("R2 score : %.2f" % r2_score(label_test_un,pred_un))
print("Mean squared error: %.2f" % mean_squared_error(label_test_un,pred_un))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_un,pred_un)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_un, pred_un))

R2 score : 0.94
Mean squared error: 290.39
Root mean squared error: 17.04
Mean absolute error: 11.78

In [122]:
#with over sampling
print("R2 score : %.2f" % r2_score(label_test_ov,pred_ov))
print("Mean squared error: %.2f" % mean_squared_error(label_test_ov,pred_ov))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_ov,pred_ov)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_ov, pred_ov))

R2 score : 0.94
Mean squared error: 291.08
Root mean squared error: 17.06
Mean absolute error: 11.81

## XGBoost

In [11]:
from xgboost import XGBRegressor
xg = XGBRegressor()
xg.fit(features_train,labels_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [141]:
from xgboost import XGBRegressor
xgn = XGBRegressor()
xgn.fit(features_train_un,labels_train_un)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [14]:
from xgboost import XGBRegressor
xgov = XGBRegressor()
xgov.fit(features_train_ov,labels_train_ov)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [71]:
xgr = xgov.predict(feature_test)

In [144]:
xgr_un = xgn.predict(feature_test_un)

In [15]:
xgr_ov = xgov.predict(feature_test_ov)

In [72]:
print("R2 score : %.2f" % r2_score(label_test,xgr))
print("Mean squared error: %.2f" % mean_squared_error(label_test,xgr))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,xgr)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, xgr))

R2 score : 0.94
Mean squared error: 317.27
Root mean squared error: 17.81
Mean absolute error: 13.15

In [145]:
print("R2 score : %.2f" % r2_score(label_test_un,xgr_un))
print("Mean squared error: %.2f" % mean_squared_error(label_test_un,xgr_un))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_un,xgr_un)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_un, xgr_un))

R2 score : 0.95
Mean squared error: 272.21
Root mean squared error: 16.50
Mean absolute error: 11.44

In [16]:
print("R2 score : %.2f" % r2_score(label_test_ov,xgr_ov))
print("Mean squared error: %.2f" % mean_squared_error(label_test_ov,xgr_ov))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_ov,xgr_ov)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_ov, xgr_ov))

R2 score : 0.95
Mean squared error: 273.19
Root mean squared error: 16.53
Mean absolute error: 11.50

In [54]:
t1=label_test_ov[(label_test_ov > 15) & (label_test_ov < 100)]

In [57]:
lt1=len(t1)
lt1

61733

In [58]:
p1=xgr_ov[(xgr_ov > 15) & (xgr_ov < 100)]

In [59]:
lp1=len(p1)
lp1

65322

In [61]:
t2=label_test_ov[(label_test_ov > 100) & (label_test_ov < 200)]

In [63]:
lt2=len(t2)
lt2

9573

In [64]:
p2=xgr_ov[(xgr_ov > 100) & (xgr_ov < 200)]

In [65]:
lp2=len(p2)
lp2

9040

In [67]:
t3=label_test_ov[(label_test_ov > 200) & (label_test_ov < 500)]

In [68]:
lt3=len(t3)
lt3

2874

In [69]:
p3=xgr_ov[(xgr_ov > 200) & (xgr_ov < 500)]

In [70]:
lp3=len(p3)
lp3

2803

In [71]:
t4=label_test_ov[(label_test_ov > 500) & (label_test_ov < 1000)]

In [72]:
lt4=len(t4)
lt4

220

In [73]:
p4=xgr_ov[(xgr_ov > 500) & (xgr_ov < 1000)]

In [74]:
lp4=len(p4)
lp4

223

In [75]:
t5=label_test_ov[label_test_ov > 1000]

In [76]:
lt5=len(t5)
lt5

39

In [77]:
p5=xgr_ov[(xgr_ov > 1000)]

In [78]:
lp5=len(p5)
lp5

37

In [40]:
d_test=pd.DataFrame()
d_test=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/test.csv")
d_test

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,2.0,2017.0,6.0,26.0,700.0,0.0,730.0,11618.0,14771.0,1000.0,...,1024.0,7.0,55.0,3.0,69.0,70.0,64.0,2017-06-26,SFO,EWR
1,2.0,2016.0,4.0,25.0,2200.0,0.0,2213.0,12892.0,12478.0,600.0,...,1012.0,0.0,41.0,18.0,61.0,61.0,50.0,2016-04-25,JFK,LAX
2,2.0,2017.0,5.0,10.0,2000.0,0.0,2015.0,12478.0,14771.0,0.0,...,1021.0,97.0,49.0,9.0,55.0,53.0,83.0,2017-05-10,SFO,JFK
3,2.0,2016.0,4.0,29.0,1100.0,0.0,1120.0,12892.0,14107.0,1200.0,...,1016.0,70.0,54.0,8.0,64.0,60.0,79.0,2016-04-29,PHX,LAX
4,4.0,2016.0,10.0,22.0,1500.0,0.0,1545.0,14771.0,14107.0,1800.0,...,1013.0,100.0,52.0,10.0,61.0,61.0,75.0,2016-10-22,PHX,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370027,1.0,2017.0,1.0,30.0,1400.0,0.0,1445.0,11292.0,14747.0,1600.0,...,998.0,100.0,30.0,11.0,53.0,54.0,96.0,2017-01-30,SEA,DEN
370028,2.0,2017.0,4.0,1.0,1500.0,0.0,1550.0,14747.0,12892.0,1800.0,...,1020.0,0.0,49.0,3.0,66.0,67.0,52.0,2017-04-01,LAX,SEA
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO
370031,3.0,2016.0,9.0,3.0,0.0,0.0,20.0,14747.0,13930.0,500.0,...,1018.0,100.0,52.0,9.0,56.0,54.0,87.0,2016-09-03,ORD,SEA

In [41]:
delay_test = d_test.loc[d_test["ArrDel15"] == 1]
dr=pd.DataFrame(delay_test)
dr

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
17,4.0,2016.0,11.0,2.0,1400.0,0.0,1455.0,13930.0,11292.0,1600.0,...,1019.0,100.0,58.0,12.0,63.0,61.0,91.0,2016-11-02,DEN,ORD
29,1.0,2016.0,1.0,10.0,1400.0,1.0,1321.0,11057.0,13303.0,1600.0,...,1009.0,75.0,39.0,18.0,51.0,45.0,65.0,2016-01-10,MIA,CLT
31,4.0,2016.0,11.0,1.0,1000.0,1.0,820.0,12892.0,12889.0,1100.0,...,1017.0,12.0,56.0,5.0,65.0,64.0,77.0,2016-11-01,LAS,LAX
42,3.0,2016.0,8.0,15.0,2000.0,1.0,1903.0,13930.0,11298.0,2200.0,...,1016.0,100.0,69.0,10.0,68.0,69.0,75.0,2016-08-15,DFW,ORD
46,2.0,2016.0,4.0,24.0,1100.0,1.0,736.0,14747.0,12266.0,1700.0,...,1019.0,99.0,40.0,11.0,51.0,47.0,67.0,2016-04-24,IAH,SEA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369998,3.0,2016.0,8.0,16.0,1500.0,1.0,1332.0,12892.0,14771.0,1600.0,...,1011.0,70.0,61.0,14.0,76.0,78.0,74.0,2016-08-16,SFO,LAX
370003,1.0,2017.0,1.0,6.0,1300.0,1.0,1250.0,11298.0,10397.0,1600.0,...,1022.0,100.0,39.0,9.0,47.0,39.0,84.0,2017-01-06,ATL,DFW
370024,3.0,2017.0,9.0,12.0,1800.0,1.0,1759.0,11292.0,13930.0,2100.0,...,1010.0,46.0,47.0,19.0,69.0,69.0,44.0,2017-09-12,ORD,DEN
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO

In [48]:
t1= dr[(dr["ArrDelayMinutes"]>15) & (dr["ArrDelayMinutes"]<100)]

In [49]:
t1

,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,ArrTime,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
29,1.0,2016.0,1.0,10.0,1400.0,1.0,1321.0,11057.0,13303.0,1600.0,...,1009.0,75.0,39.0,18.0,51.0,45.0,65.0,2016-01-10,MIA,CLT
31,4.0,2016.0,11.0,1.0,1000.0,1.0,820.0,12892.0,12889.0,1100.0,...,1017.0,12.0,56.0,5.0,65.0,64.0,77.0,2016-11-01,LAS,LAX
42,3.0,2016.0,8.0,15.0,2000.0,1.0,1903.0,13930.0,11298.0,2200.0,...,1016.0,100.0,69.0,10.0,68.0,69.0,75.0,2016-08-15,DFW,ORD
50,4.0,2017.0,10.0,4.0,700.0,0.0,750.0,13930.0,12889.0,1000.0,...,1018.0,78.0,58.0,8.0,61.0,60.0,94.0,2017-10-04,LAS,ORD
54,3.0,2017.0,7.0,7.0,900.0,1.0,926.0,13930.0,11298.0,1200.0,...,1009.0,59.0,70.0,7.0,76.0,77.0,74.0,2017-07-07,DFW,ORD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369988,2.0,2017.0,5.0,11.0,1600.0,1.0,1525.0,14747.0,14771.0,1800.0,...,1016.0,0.0,38.0,7.0,75.0,77.0,24.0,2017-05-11,SFO,SEA
370003,1.0,2017.0,1.0,6.0,1300.0,1.0,1250.0,11298.0,10397.0,1600.0,...,1022.0,100.0,39.0,9.0,47.0,39.0,84.0,2017-01-06,ATL,DFW
370024,3.0,2017.0,9.0,12.0,1800.0,1.0,1759.0,11292.0,13930.0,2100.0,...,1010.0,46.0,47.0,19.0,69.0,69.0,44.0,2017-09-12,ORD,DEN
370029,3.0,2017.0,8.0,7.0,1700.0,1.0,1635.0,12478.0,14771.0,2100.0,...,1010.0,0.0,58.0,11.0,83.0,84.0,47.0,2017-08-07,SFO,JFK
370030,2.0,2017.0,5.0,5.0,1900.0,0.0,1940.0,14771.0,12892.0,2100.0,...,1013.0,99.0,53.0,9.0,60.0,60.0,80.0,2017-05-05,LAX,SFO

In [ ]:
label_test_un = np.asarray(dr["ArrDelayMinutes"])

## Random Forest

In [73]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(features_train, labels_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [69]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(features_train_un, labels_train_un)

RandomForestRegressor(n_estimators=10, random_state=0)

In [132]:
from sklearn.ensemble import RandomForestRegressor
regressor_ov = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor_ov.fit(features_train_ov, labels_train_ov)

RandomForestRegressor(n_estimators=10, random_state=0)

In [74]:
reg = regressor.predict(feature_test)

In [137]:
reg_un = regressor.predict(feature_test_un)

In [133]:
reg_ov = regressor_ov.predict(feature_test_ov)

In [75]:
print("R2 score : %.2f" % r2_score(label_test,reg))
print("Mean squared error: %.2f" % mean_squared_error(label_test,reg))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,reg)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, reg))

R2 score : 0.93
Mean squared error: 356.86
Root mean squared error: 18.89
Mean absolute error: 13.93

In [138]:
print("R2 score : %.2f" % r2_score(label_test_un,reg_un))
print("Mean squared error: %.2f" % mean_squared_error(label_test_un,reg_un))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_un,reg_un)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_un, reg_un))

R2 score : 0.89
Mean squared error: 586.47
Root mean squared error: 24.22
Mean absolute error: 16.60

In [134]:
print("R2 score : %.2f" % r2_score(label_test_ov,reg_ov))
print("Mean squared error: %.2f" % mean_squared_error(label_test_ov,reg_ov))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_ov,reg_ov)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_ov, reg_ov))

R2 score : 0.94
Mean squared error: 308.51
Root mean squared error: 17.56
Mean absolute error: 12.49

## Decision Tree

In [76]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(features_train, labels_train)

DecisionTreeRegressor(random_state=0)

In [72]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(features_train_un, labels_train_un)

DecisionTreeRegressor(random_state=0)

In [113]:
from sklearn.tree import DecisionTreeRegressor
dtov = DecisionTreeRegressor(random_state = 0)
dtov.fit(features_train_ov, labels_train_ov)

DecisionTreeRegressor(random_state=0)

In [77]:
deg = regressor.predict(feature_test)

In [135]:
deg_un = regressor.predict(feature_test_un)

In [127]:
deg_ov = dtov.predict(feature_test_ov)

In [78]:
print("R2 score : %.2f" % r2_score(label_test,deg))
print("Mean squared error: %.2f" % mean_squared_error(label_test,deg))
print("Root mean squared error: %.2f" %mean_squared_error(label_test,deg)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test, deg))

R2 score : 0.85
Mean squared error: 790.23
Root mean squared error: 28.11
Mean absolute error: 19.09

In [136]:
print("R2 score : %.2f" % r2_score(label_test_un,deg_un))
print("Mean squared error: %.2f" % mean_squared_error(label_test_un,deg_un))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_un,deg_un)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_un, deg_un))

R2 score : 0.89
Mean squared error: 586.47
Root mean squared error: 24.22
Mean absolute error: 16.60

In [128]:
print("R2 score : %.2f" % r2_score(label_test_ov,deg_ov))
print("Mean squared error: %.2f" % mean_squared_error(label_test_ov,deg_ov))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_ov,deg_ov)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_ov, deg_ov))

R2 score : 0.89
Mean squared error: 556.74
Root mean squared error: 23.60
Mean absolute error: 16.14

# Pipeling

In [22]:
cf=pd.DataFrame()
cf=pd.read_csv("/Users/msml/Vamsi/SF/SF_Projects/xg_classifi.csv")
cf

,xg_pred,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,OriginAirportID,DestAirportID,...,pressure_y,cloudcover_y,DewPointF_y,WindGustMiles_y,tempF_y,WindChillF_y,humidity_y,Date,Airport_x,Airport_y
0,1,2.0,2017.0,6.0,15.0,2300.0,1.0,1829.0,10397.0,11298.0,...,1012.0,100.0,72.0,10.0,78.0,78.0,82.0,2017-06-15,DFW,ATL
1,0,3.0,2016.0,9.0,10.0,600.0,0.0,700.0,13930.0,14771.0,...,1010.0,100.0,64.0,11.0,68.0,67.0,90.0,2016-09-10,SFO,ORD
2,0,3.0,2016.0,8.0,5.0,1000.0,0.0,1010.0,12266.0,13930.0,...,1015.0,33.0,76.0,2.0,87.0,88.0,69.0,2016-08-05,ORD,IAH
3,0,4.0,2016.0,12.0,15.0,700.0,0.0,715.0,12266.0,13930.0,...,1026.0,61.0,43.0,14.0,52.0,47.0,75.0,2016-12-15,ORD,IAH
4,0,3.0,2017.0,7.0,12.0,1000.0,0.0,1020.0,11618.0,14107.0,...,1020.0,6.0,65.0,9.0,78.0,77.0,70.0,2017-07-12,PHX,EWR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375199,0,3.0,2017.0,7.0,8.0,1600.0,0.0,1700.0,12892.0,12266.0,...,1015.0,62.0,65.0,10.0,74.0,71.0,81.0,2017-07-08,IAH,LAX
375200,0,1.0,2016.0,3.0,7.0,1500.0,0.0,1505.0,14747.0,14771.0,...,1010.0,100.0,42.0,14.0,49.0,43.0,79.0,2016-03-07,SFO,SEA
375201,0,4.0,2017.0,10.0,25.0,400.0,0.0,500.0,14107.0,12266.0,...,1016.0,0.0,54.0,5.0,74.0,75.0,49.0,2017-10-25,IAH,PHX
375202,0,3.0,2017.0,8.0,21.0,2000.0,0.0,2033.0,11298.0,10397.0,...,1015.0,44.0,66.0,9.0,77.0,78.0,57.0,2017-08-21,ATL,DFW
375203,1,4.0,2017.0,12.0,8.0,2000.0,0.0,2035.0,13930.0,12889.0,...,1029.0,97.0,18.0,22.0,19.0,11.0,83.0,2017-12-08,LAS,ORD

In [23]:
c = cf.loc[cf["xg_pred"] == 1]

In [26]:
label_test_pipe = np.asarray(c["ArrDelayMinutes"])
c_select = c.drop(["ArrDelayMinutes","Quarter","xg_pred", "Year","ArrTime","DepTime", "Month", "DayofMonth", "DepDel15","Date","Airport_y","Airport_x"],axis=1)
lenc = LabelEncoder()
intenc = lenc.fit_transform(c_select["DestAirportID"])
c_select["DestAirportID"] = intenc
intenc = lenc.fit_transform(c_select["OriginAirportID"])
c_select["OriginAirportID"] = intenc
feature_test_pipe = np.asarray(c_select)

In [27]:
#As XGboost over sampling has the best score we take it to test the pipeline
xgr_pipe = xgov.predict(feature_test_pipe)

In [29]:
print("R2 score : %.2f" % r2_score(label_test_pipe,xgr_pipe))
print("Mean squared error: %.2f" % mean_squared_error(label_test_pipe,xgr_pipe))
print("Root mean squared error: %.2f" %mean_squared_error(label_test_pipe,xgr_pipe)**0.5)
print("Mean absolute error: %.2f" % mean_absolute_error(label_test_pipe, xgr_pipe))

R2 score : 0.92
Mean squared error: 452.23
Root mean squared error: 21.27
Mean absolute error: 16.15